/*Font Family*/
@font-face {
    font-family: Museo;
    src: url(../fonts/museo-100.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-300.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-500.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-700.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-900.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Yatra;
    src: url(../fonts/yatra-one.ttf);
}

/* Pseudo elements */
:root {
    --primary-color: #fd6204;
    --secondary-color: #ff6700;
    --accent-color: #008000;
}

::selection {
    background-color: #fff;
    color: var(--primary-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
    z-index: 9999;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-color);
    z-index: 9999;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
    z-index: 9999;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
    z-index: 9999;
    cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    outline: none;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    clear: both;
    animation-duration: 2s;
    font-weight: 300;
    line-height: 1.2;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    font-family: "Museo", sans-serif;
    font-weight: 500;
    outline: none;
    color: #fff;
    background: var(--primary-color);
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

b {
    font-weight: 900;
}

h1 {
    font-size: 72px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    font-weight: 900;
    margin-bottom: 40px;
}

h2 {
    font-size: 60px;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    font-weight: 900;
    margin-bottom: 20px;
}

h3 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.4;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-inner {
    height: 180px;
    width: 180px;
    position: relative;
}

.loader-inner::before,
.loader-inner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url('../../assets/images/small-avatar.png');
    background-repeat: no-repeat;
}

.loader-inner::after {
    animation: pulse 1s infinite;
    transform: perspective(336px) translateZ(0px);
}

.text-center {
    text-align: center;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    width: auto;
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
    flex-wrap: wrap;
}

.col-3 {
    max-width: 25%;
    width: 100%;
    padding: 0 1rem;
}

.col-4 {
    max-width: 33.33%;
    width: 100%;
    padding: 0 1rem;
}

.col-6 {
    max-width: 50%;
    width: 100%;
    padding: 0 1rem;
}

.col-8 {
    max-width: 66.66%;
    width: 100%;
    padding: 0 1rem;
}

.col-9 {
    max-width: 75%;
    width: 100%;
    padding: 0 1rem;
}

.section-tag-title {
    font-family: "Yatra", sans-serif;
    font-size: 30px;
    display: inline-block;
    background: #fff;
    color: var(--primary-color);
    padding: 12px 12px 4px 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.section-content {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 100;
}

/* Hero Banner */

.container.home {
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.home-logo {
    max-width: 28vw;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4), inset 0 0 60px rgba(255, 255, 256, 0.6), 0 0 40px 0 rgba(0, 0, 0, 0.2);
}

.home-logo::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    filter: blur(2px);
    height: 10px;
    width: 100%;
    border-radius: 50px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0) 60%);
    -webkit-animation: rotate360 8s linear 0s infinite normal;
    -moz-animation: rotate360 8s linear 0s infinite normal;
    -ms-animation: rotate360 8s linear 0s infinite normal;
    -o-animation: rotate360 8s linear 0s infinite normal;
    animation: rotate360 8s linear 0s infinite normal;
}

.rotator {
    position: relative;
    width: 100%;
    height: 70%;
    perspective: 1000px;
}

.rotator-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 8s linear infinite;
}

.rotator-inner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    backface-visibility: hidden;
    border-radius: 16px;
}

.rotator-inner img:nth-child(1) {
    transform: rotateY(0deg) translateZ(2px);
}

.rotator-inner img:nth-child(2) {
    transform: rotateY(180deg) translateZ(2px);
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.home-banner {
    max-width: fit-content;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.banner-content .features {
    font-size: 20px;
    list-style: square;
    padding-left: 30px;
}

.banner-content .features li~li {
    margin-top: 10px;
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
    padding-top: 10px;
}

.lets-connect {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.lets-connect li {
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 300;
}

.lets-connect a {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 200ms;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25), inset 0 1px 2px rgba(255, 255, 255, 0.15);
}

.lets-connect a:hover {
    transition: 200ms;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.lets-connect a:hover svg {
    filter: invert(1);
}

.lets-connect a.contact-me {
    background: #000;
    width: auto;
    font-size: 16px;
    gap: 4px;
    letter-spacing: 0;
    font-weight: 500;
    padding: 12px 16px;
}

.lets-connect a.contact-me:hover {
    color: #000;
    background: #fff;
}

span.arrow {
    position: relative;
    display: block;
    width: 50px;
    height: 2px;
    background: #fff;
    margin: 20px;
}

span.arrow.transform::after {
    content: '';
    height: 2px;
    width: 20px;
    background: #000;
    position: absolute;
    right: -5px;
    transform: rotate(-45deg);
    top: 7px;
    border-radius: 5px;
    transition: 0.5s;
}

span.arrow.transform::before {
    content: '';
    height: 2px;
    width: 20px;
    background: #000;
    position: absolute;
    right: -5px;
    transform: rotate(45deg);
    bottom: 7px;
    border-radius: 5px;
    transition: 0.5s;
}

span.arrow::after {
    content: '';
    height: 2px;
    width: 20px;
    background: #000;
    position: absolute;
    right: -5px;
    transform: rotate(0);
    top: 0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

span.arrow::before {
    content: '';
    height: 2px;
    width: 20px;
    background: #000;
    position: absolute;
    right: -5px;
    transform: rotate(0);
    bottom: 0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

section.service {
    background: url(../../assets/images/map.svg) center center no-repeat;
    background-size: 75%;
}


@keyframes pulse {
    to {
        transform: perspective(336px) translateZ(168px);
        opacity: 0;
    }
}

.banner-content ul {
    list-style: none;
    padding: 0;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.banner-content ul li {
    font-weight: 500;
    background: #fff;
    color: #000;
    padding: 10px 14px;
    border-radius: 16px;
    text-transform: capitalize;
}

.slider-main {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    -o-transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 3vw;
    gap: 3vw;
}

.slider-indicators {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px;
    backdrop-filter: blur(12px) saturate(120%);
    -webkit-backdrop-filter: blur(12px) saturate(120%);
    background: var(--accent-color);
    border: 2px solid #ffffff;
    border-radius: 16px;
    box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.25), inset -4px -4px 8px rgba(0, 80, 0, 0.8), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);

}

.slider-indicator-dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    position: relative;
}

.slider-indicator-dots::after {
    content: "";
    background: url("../../assets/images/star.svg") no-repeat center center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.slider-indicator-dots-active {
    transform: scale(1.6);
}

.service-inner {
    z-index: 1;
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-title span {
    color: #fff;
    font-weight: 900;
    background: #000;
    border-radius: 500px;
    text-align: center;
    transition: 0.3s;
    position: relative;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
    height: 260px;
    width: 260px;
    font-size: 36px;
    padding: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.service-title span:hover {
    transition: 0.3s;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.4);
}

.service-title span:before,
.service-title span:after {
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    border: 8px solid var(--primary-color);
    display: none;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.service-title span:hover:before {
    display: block;
    animation: spread-fade 1s ease-in infinite;
}

.service-title span:hover:after {
    display: block;
    animation: spread-fade 1s 0.3s ease-in infinite;
}

#services-modal-zoom,
#portfolio-modal-zoom {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#services-modal-zoom.show,
#portfolio-modal-zoom.show {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: none;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    filter: drop-shadow(2px 4px 6px black);
}

.modal-background.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
    animation: fadein 0.3s;
}

.modal-background.hide {
    animation: fadeout 0.3s;
}

.modal.service-modal {
    position: absolute;
    padding: 40px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1), 0 20px 60px -10px rgba(255, 255, 255, 0.4);
    background: #fff;
    height: 44rem;
    width: 44rem;
    border-radius: 500px;
    text-align: center;
    transform-style: preserve-3d;
    z-index: 9;
    display: table;
}

.modal-inner {
    padding: 2rem;
    display: table-cell;
    vertical-align: middle;
}

.modal-title {
    font-size: 60px;
    color: var(--primary-color);
    font-weight: 900;
}

.modal-content {
    color: #000;
    font-size: 20px;
    margin: 1rem 0;
}

.model-image {
    width: auto;
    height: 200px;
}

.green-btn {
    background: var(--accent-color);
    color: #fff;
    display: inline-block;
    border-radius: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    transition: 0.1s linear;
    box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.25), inset -4px -4px 8px rgba(0, 80, 0, 0.8), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.green-btn:hover {
    transform: scale(1.2);
    transition: 0.1s linear;
}

@keyframes spread-fade {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@keyframes bounce-out {
    0% {
        top: -200%;
    }

    25% {
        top: 50%;
    }

    40% {
        top: 35%;
    }

    55% {
        top: 50%;
    }

    70% {
        top: 42%;
    }

    85% {
        top: 50%;
    }

    95% {
        top: 48%;
    }

    100% {
        top: 50%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}